<div class="col-md-3 tr-container">
    <a href="' + result.data.article_link + '" class="card">
        <div class="tr-blog-info-container">
            <img class="tr-favicon" src="' + result.data.blog_favicon_src + '"
                 alt="블로그 favicon">
            <h3 class="tr-blog-name">' + result.data.blog_name + '</h3>
        </div>
        <div class="text-center">
            <img class="card-img-top tr-article-image img-responsive" alt="게시글 이미지" +
                 src="' + result.data.blog_header_src + '" data-holder-rendered="true">
            <div class="card-block">
                <h4 class="card-title blog-article-title text-center">' + result.data.article_title + '</h4>
                <p class="card-text blog-article-summary">' + result.data.article_summary +'
                </p>
            </div>
        </div>
    </a>
</div>