<html lang="kr">
<head>
    <meta charset="utf-8">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" charset=utf-8
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <style type="text/css">
        a:link {
            color: black;
            text-decoration: none;
        }

        a:visited {
            color: black;
            text-decoration: none;
        }

        a:hover {
            color: black;
            text-decoration: none;
        }
    </style>

    <link rel="apple-touch-icon" type="image/png" href="/public/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/public/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/public/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
    <link rel="manifest" href="/public/favicon/manifest.webmanifest" type="application/manifest+json">

    <title>Trend Reader</title>
</head>
<body class="bg-dark text-white">
<div ng-app="trendReaderApp" class="container-fluid col-12"
     ng-controller="blog_controller">

    <div class="card col-12 bg-dark text-white border border-white"
         style="margin: 6px; display: inline-block" ng-repeat="info in list">
        <div class="card-body text-center col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3" style="float: left;">
            <div class="card-block text-center" style="margin: 12px;">
                <img ng-src="{{ info.favicon_url }}" class="rounded-circle img-fluid border-info" width="120" height="120"
                     alt="{{ info.blog_name }} favicon">
            </div>
            <span style="word-break: break-all;"> By {{ info.blog_name }}</span>
        </div>

        <div class="card-body col-xs-12 col-sm-9 col-md-9 col-lg-9 col-xl-9" style="float: right;">
            <h4 class="card-title font-weight-bold">{{ info.post_title }}</h4>
            <p class="card-text" style="word-break: break-all;">{{ info.post_content }}</p>
            <a ng-href="{{ info.post_url }}" target="_self" style="float: right; vertical-align: bottom"
               class="card-link text-right text-white">Read More</a>
        </div>
    </div>
    <!-- End -->
</div>

<!-- JavaScript -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous" content-type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous" content-type="text/javascript" charset="utf-8"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous" content-type="text/javascript" charset="utf-8"></script>

<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" charset="utf-8"
        crossorigin="anonymous"
        content-type="text/javascript"></script>

<!-- Controller -->
<script src="/public/js/blog_controller.js" charset="utf-8" content-type="text/javascript"></script>

</body>
</html>
