<!doctype html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- shortcut icon -->
    <link rel="apple-touch-icon" type="image/png" href="/public/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/public/favicon/android-icon-192x192.png">
    <link rel="manifest" href="/public/favicon/manifest.webmanifest" type="application/manifest+json">

    <!-- custom css -->
    <link rel="stylesheet" href="/public/css/style.css">

    <title>Trend Reader : 전문가들의 관심사 엿보기</title>
</head>
<body class="auto-padding-margin">
<div ng-app="trendReaderApp" class="container-fluid col-12"
     ng-controller="blog_controller">

    <div class="card col-12 border border-black"
         style="display: inline-block; background-color: black;padding: 0;" ng-repeat="info in list">
        <div class="card-body text-center col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 align-left">
            <div class="card-block text-center" style="padding: 12px;">
                <a ng-href="{{ info.blog_url }}" target="_self">
                    <img ng-src="{{ info.favicon_url }}" class="border rounded-circle border-info profile-image"
                         alt="{{ info.blog_name }} 프로필 이미지">
                </a>
            </div>
            <span style="word-break: break-all;" class="text-white"> By {{ info.blog_name }}</span>
        </div>

        <div class="card-body col-xs-12 col-sm-9 col-md-9 col-lg-9 col-xl-9 align-right"
             style="background-color: white;margin: 0;">
            <h4 class="card-title font-weight-bold">{{ info.post_title }}</h4>
            <p class="card-text" style="word-break: break-all;">{{ info.post_content }}</p>
            <a ng-href="{{ info.post_url }}" target="_self" class="card-link text-right align-right">
                Read More
            </a>
        </div>
    </div>
    <!-- End -->
</div>

<!-- JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous" content-type="text/javascript" charset="UTF-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous" content-type="text/javascript" charset="UTF-8"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous" content-type="text/javascript" charset="UTF-8"></script>

<!-- AngularJS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js" charset="UTF-8"
        crossorigin="anonymous"
        content-type="text/javascript"></script>

<!-- Controller -->
<script src="/public/js/blog_controller.js" charset="UTF-8" content-type="text/javascript"></script>
</body>
</html>
