.profile-image {
    width: 120px;
    height: 120px;
    align-self: center;
    background-color: white;
}

.align-left {
    float: left;
}

.align-right {
    float: right;
}

.auto-padding-margin {
    padding: auto;
    margin: auto;
}