a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.grid-item {
    width: 400px;
}

.grid-item--width2 {
    width: 800px;
}